<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "https://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>



    <bean id="idCtrl" class="ma.presentation.ClientCONTROLLER" scope="prototype">
        <property name="service" ref="s2"/>

    </bean>
    <bean id="s2" class="ma.Service.ClientServiceIMPL">
        <property name="dao" ref="d2"/>

    </bean>

    <bean id="d2" class="ma.dao.ClientDaoIMPL" scope="prototype">


    </bean>




    <bean id="idCtrl1" class="ma.presentation.FactureController" scope="prototype">
        <constructor-arg ref="s3"/>

    </bean>
    <bean id="s3" class="ma.Service.FactureServiceImpl">
        <constructor-arg ref="d3"/>

    </bean>

    <bean id="d3" class="ma.dao.FactureDaoImpl" scope="prototype">


    </bean>


</beans>